/*
Color palette:
--------------
rich black:   #022f40;
maximum blue: #38aecc;
blue (ncs):   #0090c1;
yankees blue: #183446;
sea blue:     #046e8f;
*/

body {
	max-width: 400px;
	margin: 0 auto;
	padding: 0 24px 48px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: #183446;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #0090C1;
}

h1 {
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: normal;
}

p {
  line-height: 180%;
  margin-bottom: 1rem;
  text-align: justify;
}

pre {
	line-height: 180%;
	font-weight: inherit;
	font-family: inherit;
}

header {
  border-bottom: 1px solid #046e8f22;
  margin: 3rem 0;
  text-align: center;
}

.center {
	display: flex;
	align-items: center;
  justify-content: center;
  height: 100vh;
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 3rem auto;

  background-image: url('../img/avatar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
